<div id="plugin-view"></div>

<link rel="stylesheet" href="/templates/zigbee2mqtt/leaflet.css"/>

<style>
    .leaflet-container {
        background-color: white;
    }
</style>

<script type="text/ng-template" id="app/zigbee2mqtt/index.html">
    <div class="container">
        <a class="btnstylerev" back-button>{{ ::'Back' | translate }}</a>
        <h2 class="page-header">Zigbee2Mqtt</h2>

        <ul id="tabs" class="nav nav-tabs sub-tabs" data-tabs="tabs">
            <li class="active"><a data-target="#zigbee-devices" data-toggle="tab">Devices</a></li>
            <li class="">
                <a data-target="#zigbee-map"
                   data-toggle="tab"
                   ng-click="$ctrl.renderNetworkMap()"
                >Network Map</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="zigbee-devices">
                <page-loading-indicator ng-hide="::$ctrl.zigbeeDevices"/>
                <zigbee2mqtt-devices-table ng-if="::$ctrl.zigbeeDevices" devices="$ctrl.zigbeeDevices"/>
            </div>

            <div class="tab-pane" id="zigbee-map">
                <page-loading-indicator ng-hide="::$ctrl.isMapLoaded"/>
                <div id="image-map" style="height: calc(100vh - 235px);" ng-show="::$ctrl.isMapLoaded"></div>
            </div>
        </div>
    </div>
</script>

<script>
    require(['../templates/zigbee2mqtt'], function(data) {
        angular.element(document).injector().invoke(function($compile) {
            var $div = angular.element('<zigbee2mqtt-plugin />');
            angular.element('#plugin-view').append($div);

            var scope = angular.element($div).scope();
            $compile($div)(scope);
        });
    });
</script>