<div id="plugin-view"></div>

<link rel="stylesheet" href="/templates/zigbee2mqtt/leaflet.css">

<style>
    .leaflet-container {
        background-color: white;
    }

    .zigbee2mqtt-header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .zigbee2mqtt-header > .btn-group {
        text-align: center;
    }
</style>

<script type="text/ng-template" id="app/zigbee2mqtt/index.html">
    <div class="container">
        <div class="zigbee2mqtt-header">
            <div>
                <a class="btnstylerev" back-button>{{ ::'Back' | translate }}</a>
            </div>

            <div class="btn-group">
                <button class="btn btn-default"
                        ng-show="$ctrl.pluginApiDevices.length > 1"
                        ng-repeat="device in $ctrl.pluginApiDevices"
                        ng-class="{'active': device.idx === $ctrl.selectedApiDeviceIdx}"
                        ng-click="$ctrl.selectPlugin(device.idx)">
                    {{::device.HardwareName}}
                </button>
            </div>

            <div class="align-right" ng-if="$ctrl.controllerInfo">
                <div>{{ $ctrl.getVersionString() }}</div>
                <label>
                    <input type="checkbox"
                           class="noscheck"
                           ng-model="$ctrl.controllerInfo.permit_join"
                           ng-change="$ctrl.togglePermitJoin()">
                    Allow new zigbee devices to join
                </label>
            </div>
        </div>

        <h2 class="page-header">Zigbee2Mqtt</h2>

        <ul id="tabs" class="nav nav-tabs sub-tabs" data-tabs="tabs">
            <li class="active"><a data-target="#zigbee-devices" data-toggle="tab">Devices</a></li>
            <li><a data-target="#zigbee-groups" data-toggle="tab">Groups</a></li>
            <li>
                <a data-target="#zigbee-map"
                   data-toggle="tab"
                   ng-click="$ctrl.renderNetworkMap()"
                >Network Map</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="zigbee-devices">
                <page-loading-indicator ng-hide="$ctrl.zigbeeDevices"></page-loading-indicator>

                <zigbee2mqtt-devices
                        ng-if="$ctrl.zigbeeDevices"
                        zigbee-devices="$ctrl.zigbeeDevices"
                        domoticz-devices="$ctrl.devices"
                        on-update="$ctrl.fetchZigbeeDevices()"
                        on-update-domoticz-device="$ctrl.refreshDomoticzDevices()"></zigbee2mqtt-devices>
            </div>

            <div class="tab-pane" id="zigbee-groups">
                <page-loading-indicator ng-show="!$ctrl.zigbeeGroups"></page-loading-indicator>

                <zigbee2mqtt-groups
                        ng-if="$ctrl.zigbeeGroups"
                        groups="$ctrl.zigbeeGroups"
                        zigbee-devices="$ctrl.zigbeeDevices"
                        domoticz-devices="$ctrl.devices"
                        on-update="$ctrl.fetchZigbeeGroups()"
                        on-update-domoticz-device="$ctrl.refreshDomoticzDevices()"></zigbee2mqtt-groups>
            </div>

            <div class="tab-pane" id="zigbee-map">
                <page-loading-indicator ng-hide="$ctrl.isMapLoaded"></page-loading-indicator>
                <div id="image-map" style="height: calc(100vh - 235px);" ng-show="$ctrl.isMapLoaded"></div>
            </div>
        </div>
    </div>

    <zigbee2mqtt-fake-devices ng-show="false"></zigbee2mqtt-fake-devices>
</script>

<script type="text/ng-template" id="app/zigbee2mqtt/devices.html">
    <div class="btn-panel align-right">
        <button class="btn btn-default" ng-click="$ctrl.pair()">{{:: 'Pair Device' | translate }}</button>
        <button class="btn btn-default" ng-click="$ctrl.onUpdate()">{{:: 'Refresh' | translate }}</button>
    </div>

    <zigbee2mqtt-devices-table
            devices="$ctrl.zigbeeDevices"
            on-update="$ctrl.onUpdate()"
            on-select="$ctrl.selectZigbeeDevice(device)"></zigbee2mqtt-devices-table>

    <section ng-if="$ctrl.associatedDevices.length > 0">
        <h2 class="page-header">{{:: 'Devices' | translate }}</h2>
        <devices-table devices="$ctrl.associatedDevices" on-update="$ctrl.onUpdateDomoticzDevice()"></devices-table>
    </section>
</script>

<script type="text/ng-template" id="app/zigbee2mqtt/groups.html">
    <div class="btn-panel align-right">
        <button class="btn btn-default" ng-click="$ctrl.addGroup()">{{:: 'Add' | translate }}</button>
    </div>

    <zigbee2mqtt-groups-table
            groups="$ctrl.groups"
            on-update="$ctrl.onUpdate()"
            on-select="$ctrl.selectZigbeeGroup(group)"></zigbee2mqtt-groups-table>

    <section ng-if="$ctrl.selectedGroup">
        <h2 class="page-header">{{:: 'Group' | translate }}: {{ $ctrl.selectedGroup.friendly_name }}</h2>

        <ul class="nav nav-tabs sub-tabs" data-tabs="tabs">
            <li class="active"><a data-target="#zigbee-group-members" data-toggle="tab">{{:: 'Members' | translate }}</a></li>
            <li><a data-target="#zigbee-group-devices" data-toggle="tab">{{:: 'Devices' | translate }}</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="zigbee-group-members">
                <div class="btn-panel align-right">
                    <button class="btn btn-default" ng-click="$ctrl.addDeviceToGroup()">{{:: 'Add' | translate }}</button>
                </div>

                <zigbee2mqtt-group-devices-table
                        group="$ctrl.selectedGroup"
                        devices="$ctrl.selectedGroupDevices"
                        on-update="$ctrl.onUpdate()"></zigbee2mqtt-group-devices-table>
            </div>

            <div class="tab-pane" id="zigbee-group-devices">
                <devices-table devices="$ctrl.associatedDevices" on-update="$ctrl.onUpdateDomoticzDevice()"></devices-table>
            </div>
        </div>
    </section>
</script>

<script type="text/ng-template" id="app/zigbee2mqtt/deviceRenameModal.html">
    <div class="modal-header">
        <h3 class="modal-title">{{:: 'Rename Device' | translate }}</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="modalForm">
            <div class="control-group">
                <label class="control-label" for="device-name">{{:: 'Name' | translate }}:</label>
                <div class="controls">
                    <input type="text"
                           id="device-name"
                           class="form-control"
                           required
                           minlength="1"
                           maxlength="100"
                           ng-model="$ctrl.newName">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button"
                class="btn btn-primary"
                ng-disabled="modalForm.$invalid || $ctrl.isSaving || $ctrl.newName == $ctrl.oldName"
                ng-click="$ctrl.renameDevice()">
            {{:: 'Rename' | translate }}
        </button>

        <button type="button"
                class="btn btn-default"
                ng-click="$dismiss()">
            {{:: 'Cancel' | translate }}
        </button>
    </div>
</script>

<script type="text/ng-template" id="app/zigbee2mqtt/setDeviceStateModal.html">
    <div class="modal-header">
        <h3 class="modal-title">{{:: 'Set Device State' | translate }}</h3>
    </div>
    <div class="modal-body">
        <form class="form" name="modalForm">
            <div class="control-group">
                <label class="control-label" for="topic">{{:: 'Topic' | translate }}:</label>
                <div class="controls">
                    <input type="text"
                           id="topic"
                           class="form-control"
                           required
                           minlength="1"
                           maxlength="100"
                           style="width: 100%; box-sizing: border-box;"
                           ng-model="$ctrl.topic">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="device-state">{{:: 'JSON Message' | translate }} (see zigbee2mqtt <a
                        href="https://www.zigbee2mqtt.io/information/mqtt_topics_and_message_structure.html#zigbee2mqttfriendly_nameset"
                        target="_blank">documentation</a>):
                </label>
                <div class="controls">
                    <textarea
                            autofocus
                            id="device-state"
                            class="form-control"
                            required
                            rows="6"
                            style="width: 100%; box-sizing: border-box;"
                            ng-model="$ctrl.state"></textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button"
                class="btn btn-primary"
                ng-disabled="modalForm.$invalid || $ctrl.isSaving"
                ng-click="$ctrl.setState()">
            {{:: 'Set' | translate }}
        </button>

        <button type="button"
                class="btn btn-default"
                ng-click="$dismiss()">
            {{:: 'Cancel' | translate }}
        </button>
    </div>
</script>

<script type="text/ng-template" id="app/zigbee2mqtt/deviceFirmwareUpdateModal.html">
    <div class="modal-header">
        <h3 class="modal-title">{{:: 'Firmware update' | translate }}</h3>
    </div>
    <div class="modal-body">
        <p>{{ message }}</p>
        <p class="help-block">
            <em>You can close this window and update will continue in the background. You can check the progress in Domoticz Log</em>
        </p>
    </div>
    <div class="modal-footer">
        <button type="button"
                class="btn btn-default"
                ng-click="$close()">
            {{:: 'Close' | translate }}
        </button>
    </div>
</script>

<script type="text/ng-template" id="app/zigbee2mqtt/devicePairModal.html">
    <div class="modal-header">
        <h3 class="modal-title">{{:: 'Pairing' | translate }}</h3>
    </div>
    <div class="modal-body">
        <p>{{ message }}</p>
        <p class="help-block">
            <em>Once you close the window, "pair mode" will be disabled on the bridge</em>
        </p>
    </div>
    <div class="modal-footer">
        <button type="button"
                class="btn btn-default"
                ng-click="$close()">
            {{:: 'Done' | translate }}
        </button>
    </div>
</script>

<script type="text/ng-template" id="app/zigbee2mqtt/deviceRemoveModal.html">
    <form name="modalForm" ng-submit="$ctrl.removeDevice()">
    <div class="modal-header">
        <h3 class="modal-title">{{:: 'Device Removal' | translate }}</h3>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to remove "{{:: $ctrl.device}}" device from zigbee network?</p>
        <label class="checkbox">
            <input type="checkbox"
                   class="noscheck"
                   name="removeDomoticzDevices"
                   ng-model="$ctrl.removeDomoticzDevices"
            > Remove corresponding Domoticz devices
        </label>
        <br>
        <label class="checkbox">
            <input type="checkbox"
                   class="noscheck"
                   name="forceRemove"
                   ng-model="$ctrl.forceRemove"
            > Force remove
        </label>
        <p class="help-block">
            <em>Force remove will only remove the device from the <a href="https://www.zigbee2mqtt.io/information/mqtt_topics_and_message_structure.html#zigbee2mqttbridgeconfigremove" target="_blank">zigbee2mqtt database</a>.</em>
        </p>
    </div>
    <div class="modal-footer">
        <button type="submit"
                class="btn btn-danger"
                ng-disabled="modalForm.$invalid || $ctrl.isSaving">
            {{:: 'Remove' | translate }}
        </button>
        <button type="button"
                class="btn btn-default"
                ng-click="$dismiss()">
            {{:: 'Cancel' | translate }}
        </button>
    </div>
    </form>
</script>

<script type="text/ng-template" id="app/zigbee2mqtt/groupCreateModal.html">
    <div class="modal-header">
        <h3 class="modal-title">{{:: 'Add new zigbee group' | translate }}</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="modalForm">
            <div class="control-group">
                <label class="control-label" for="name">{{:: 'Name' | translate }}:</label>
                <div class="controls">
                    <input type="text"
                           id="name"
                           class="form-control"
                           required
                           minlength="1"
                           maxlength="100"
                           ng-model="$ctrl.groupName">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="id">{{:: 'ID' | translate }}:</label>
                <div class="controls">
                    <input type="number"
                           id="id"
                           class="form-control"
                           ng-model="$ctrl.groupId">
                    <span class="help-inline">(optional)</span>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button"
                class="btn btn-primary"
                ng-disabled="modalForm.$invalid || $ctrl.isSaving"
                ng-click="$ctrl.createGroup()">
            {{:: 'Add' | translate }}
        </button>

        <button type="button"
                class="btn btn-default"
                ng-click="$dismiss()">
            {{:: 'Cancel' | translate }}
        </button>
    </div>
</script>

<script type="text/ng-template" id="app/zigbee2mqtt/groupAddDeviceModal.html">
    <div class="modal-header">
        <h3 class="modal-title">{{:: 'Add Device To Group' | translate }}</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="modalForm">
            <div class="control-group">
                <label class="control-label" for="device">{{:: 'Device' | translate }}:</label>
                <div class="controls">
                    <select
                            id="device"
                            name="device"
                            class="form-control"
                            required
                            ng-model="$ctrl.device"
                            ng-options="device.friendly_name as device.friendly_name for device in ::$ctrl.devices"></select>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="sub-device">{{:: 'Sub-device' | translate }}:</label>
                <div class="controls">
                    <input type="text"
                           id="sub-device"
                           class="form-control"
                           ng-model="$ctrl.subDevice">
                    <span class="help-inline">(optional)</span>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button"
                class="btn btn-primary"
                ng-disabled="modalForm.$invalid || $ctrl.isSaving"
                ng-click="$ctrl.addDevice()">
            {{:: 'Add' | translate }}
        </button>

        <button type="button"
                class="btn btn-default"
                ng-click="$dismiss()">
            {{:: 'Cancel' | translate }}
        </button>
    </div>
</script>

<script>
    require(['../templates/zigbee2mqtt'], function() {
        angular.element(document).injector().invoke(function($compile) {
            var $div = angular.element('<zigbee2mqtt-plugin></zigbee2mqtt-plugin>');
            angular.element('#plugin-view').append($div);

            var scope = angular.element($div).scope();
            $compile($div)(scope);
        });
    });
</script>