<div id="plugin-view"></div>

<link rel="stylesheet" href="/templates/zigbee2mqtt/leaflet.css"/>

<style>
    .leaflet-container {
        background-color: white;
    }

    .zigbee2mqtt-header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .zigbee2mqtt-header > .btn-group {
        text-align: center;
    }
</style>

<script type="text/ng-template" id="app/zigbee2mqtt/index.html">
    <div class="container">
        <div class="zigbee2mqtt-header">
            <div>
                <a class="btnstylerev" back-button>{{ ::'Back' | translate }}</a>
            </div>

            <div class="btn-group">
                <button class="btn btn-default"
                        ng-show="$ctrl.pluginApiDevices.length > 1"
                        ng-repeat="device in $ctrl.pluginApiDevices"
                        ng-class="{'active': device.idx === $ctrl.selectedApiDeviceIdx}"
                        ng-click="$ctrl.selectPlugin(device.idx)">
                    {{::device.HardwareName}}
                </button>
            </div>

            <div class="align-right" ng-if="$ctrl.controllerInfo">
                <div>{{ $ctrl.getVersionString() }}</div>
                <label>
                    <input type="checkbox"
                           ng-model="$ctrl.controllerInfo.permit_join"
                           ng-change="$ctrl.togglePermitJoin()"/>
                    Allow new zigbee devices to join
                </label>
            </div>
        </div>

        <h2 class="page-header">Zigbee2Mqtt</h2>

        <ul id="tabs" class="nav nav-tabs sub-tabs" data-tabs="tabs">
            <li class="active"><a data-target="#zigbee-devices" data-toggle="tab">Devices</a></li>
            <li class="">
                <a data-target="#zigbee-map"
                   data-toggle="tab"
                   ng-click="$ctrl.renderNetworkMap()"
                >Network Map</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="zigbee-devices">
                <page-loading-indicator ng-hide="$ctrl.zigbeeDevices"/>
                <zigbee2mqtt-devices-table
                        ng-if="$ctrl.zigbeeDevices"
                        devices="$ctrl.zigbeeDevices"
                        on-update="$ctrl.fetchZigbeeDevices()"
                />
            </div>

            <div class="tab-pane" id="zigbee-map">
                <page-loading-indicator ng-hide="$ctrl.isMapLoaded"/>
                <div id="image-map" style="height: calc(100vh - 235px);" ng-show="$ctrl.isMapLoaded"></div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="app/zigbee2mqtt/deviceRenameModal.html">
    <div class="modal-header">
        <h3 class="modal-title">{{:: 'Rename Device' | translate }}</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="modalForm">
            <div class="control-group">
                <label class="control-label" for="device-name">{{:: 'Name' | translate }}:</label>
                <div class="controls">
                    <input type="text"
                           id="device-name"
                           class="form-control"
                           required
                           minlength="1"
                           maxlength="100"
                           ng-model="$ctrl.newName"
                    />
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button"
                class="btn btn-primary"
                ng-disabled="modalForm.$invalid || $ctrl.isSaving || $ctrl.newName == $ctrl.oldName"
                ng-click="$ctrl.renameDevice()">
            {{:: 'Rename' | translate }}
        </button>

        <button type="button"
                class="btn btn-default"
                ng-click="$dismiss()">
            {{:: 'Cancel' | translate }}
        </button>
    </div>
</script>

<script type="text/ng-template" id="app/zigbee2mqtt/setDeviceStateModal.html">
    <div class="modal-header">
        <h3 class="modal-title">{{:: 'Set Device State' | translate }}</h3>
    </div>
    <div class="modal-body">
        <form class="form" name="modalForm">
            <div class="control-group">
                <label class="control-label" for="topic">{{:: 'Topic' | translate }}:</label>
                <div class="controls">
                    <input type="text"
                           id="topic"
                           class="form-control"
                           required
                           minlength="1"
                           maxlength="100"
                           style="width: 100%; box-sizing: border-box;"
                           ng-model="$ctrl.topic"
                    />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="device-state">{{:: 'JSON Message' | translate }} (see zigbee2mqtt <a
                        href="https://www.zigbee2mqtt.io/information/mqtt_topics_and_message_structure.html#zigbee2mqttfriendly_nameset"
                        target="_blank">documentation</a>):
                </label>
                <div class="controls">
                    <textarea
                            autofocus
                            id="device-state"
                            class="form-control"
                            required
                            rows="6"
                            style="width: 100%; box-sizing: border-box;"
                            ng-model="$ctrl.state"
                    />
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button"
                class="btn btn-primary"
                ng-disabled="modalForm.$invalid || $ctrl.isSaving"
                ng-click="$ctrl.setState()">
            {{:: 'Set' | translate }}
        </button>

        <button type="button"
                class="btn btn-default"
                ng-click="$dismiss()">
            {{:: 'Cancel' | translate }}
        </button>
    </div>
</script>

<script>
    require(['../templates/zigbee2mqtt'], function(data) {
        angular.element(document).injector().invoke(function($compile) {
            var $div = angular.element('<zigbee2mqtt-plugin />');
            angular.element('#plugin-view').append($div);

            var scope = angular.element($div).scope();
            $compile($div)(scope);
        });
    });
</script>